<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nhà tuyển dụng</h1>
    <ul>
        <li><a href="/employer">Danh sách nhà tuyển dụng</a></li>
        <li><a href="/employer/add">Thêm nhà tuyển dụng</a></li>
    </ul>
    <h1>Việc làm</h1>
    <ul>
        <li><a href="/job/list">Danh Sách công việc</a></li>
        <li><a href="/job/add">Thêm công việc</a></li>
    </ul>
    <h1>Ứng viên</h1>
    <li><a href="/applicant/list">Danh Sách ứng viên</a></li>
    <li><a href="/applicant/add">Thêm ứng viên</a></li>
    <ul>
       
    </ul>
</body>
</html>